div {
  background-color: chocolate;
  height: 100px;
}

body {
  background-color: floralwhite;
  /* 순서대로 지정 1, 2 */
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  color: blanchedalmond;
}

/* .은 클래스를 셀랙할때 쓴다 */
.red-text {
  color: red;
}

.yellow-text {
  color: orchid;
}

.big-size {
  font-size: 50px;
}

.border {
  border-style: solid;
  border-width: 1px;
}

/* id 지정은 # 으로 한다. */
#div1 {
  background-color: rebeccapurple;
}

a {
  text-decoration: none;
  color: red;

}

/* 마우스를 대면 색상변경, 변화속도 0.5s */
a:hover {
  color: black;
  transition: 0.5s;

}

/* a의 마우스가 사라지면 생삭변경, 변화속도 0.5s */
a:not(:hover) {
  color: royalblue;
  transition: 0.5s;
}

.overline {
  text-decoration: overline;
  text-indent: 50px;
}

.underline {
  text-decoration: underline;
  text-indent: 50%;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}